PORT= PORT NO FOR SERVER

DB_HOST= SQL DB HOST NAME
DB_PORT= SQL DB PORT NO
DB_USER= SQL DB USER NAME
DB_PASSWORD= SQL DB PASSWORD
DB_NAME= SQL DB NAME


TOKEN_SECRET_KEY = 
TOKEN_EXPIRESIN = 

REFRESH_TOKEN_SECRET_KEY = 
REFRESH_TOKEN_EXPIRESIN = 

VERIFY_TOKEN_SECRET_KEY=
VERIFY_TOKEN_EXPIRESIN=

VISITED_FEED_TOKEN = 
VISITED_FEED_TOKEN_EXPIRESIN = 



POST_LIMIT= 

RESPONCE_DATA_SECRET_KEY = 
RESPONCE_DATA_EXPIRESIN = 

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=



EMAIL_HOST= 
EMAIL_POST=
EMAIL=
EMAIL_PASSWORD=

ALLOWED_ORIGINS

NODE_ENV=development 

